@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes text-focus-in {
    0% {
        filter: blur(12px);
        opacity: 0;
    }
    100% {
        filter: blur(0px);
        opacity: 1;
    }
}

/* https://api.whatsapp.com/send?phone=+6285155407399&text={{ urlencode("Halo saya mau pesan $item->name") }} */